/*
Default stylings for the page.
*/
html {
  color: #222;
  
}

strong{
    color: gray;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
/*
 Main styles
*/
header{

    background-color: #2196f3;
    margin-top: -20px;
    margin-left: -7px;
    height: 70px; 
    padding: 0 16px;
    width: 100%;
    white-space: nowrap;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    
}

#pageTitle{
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    color: #fff;
    display: inline-block;
    
}

#titleBar img{
    margin-top: 20px;
    float: left;
    width: 3%;
    margin-left: 70px;
    margin-right: 20px;
}

#contact{
    color:#fff;
    float: right;
    margin-top: 30px;
    margin-right: 60px;
}

#profileColumn{
    position: absolute;
    float: left;
    width:28%;
    overflow-y: scroll;
        
}
#details{
    margin-top: -35px;
}
#profilePic{
    border-radius: 50%;
    width: 80px;
  height: 80px;
  padding-top: 8px;
  text-align: center;
  position: relative;
  left: 40%;
  border: 4px solid #fff;
  bottom: -40px;
  transition: 0.3s;
}
#profileCon{
    background-color: #2196f3;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#candidateName{
    font: 600 20px/32px Roboto,"Helvetica Neue",sans-serif;
    margin-bottom: -15px; 
}
#candidateTitle{
    margin-bottom: 0px;
}
#candidateEmail{
    margin-top: 0px;
    
}

/* Styles for the jobsColumn section */

#jobsColumn{
    width:70%;
    margin-left: 30%;
    padding: 12px;
    background-color: gainsboro;
    height: 100vh;  
}


#optionBars{
    text-align: center;
    font: 18px/32px Roboto,"Helvetica Neue",sans-serif;
    width:90%;
    margin: 0px auto 0px auto;
    background-color: white;
    padding:16px;
    height: 20px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    color:gray;
}

#openings1{
    margin-right: 15px;
}

#openings1:hover, #openings2:hover{
    border-bottom: 2px solid #2196f3;
    cursor: pointer;
}

.jobPost{
    font: 18px/32px Roboto,"Helvetica Neue",sans-serif;
    width: 90%;
    padding:16px;
    margin: 30px auto 0px auto;
    background-color: white;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    
}
/* Media Queries */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
